[submodule ".deps/github.com~pinf-io~io.pinf.proxy~0/source/installed/master"]
	path = .deps/github.com~pinf-io~io.pinf.proxy~0/source/installed/master
	url = git@github.com:pinf-io/io.pinf.proxy.git
[submodule ".deps/github.com~pinf-io~pinf.io-for-openshift~0/source/installed/master"]
	path = .deps/github.com~pinf-io~pinf.io-for-openshift~0/source/installed/master
	url = git@github.com:pinf-io/pinf.io-for-openshift.git
[submodule ".deps/github.com~pinf-to~pinf-to-process~0/source/installed/master"]
	path = .deps/github.com~pinf-to~pinf-to-process~0/source/installed/master
	url = git@github.com:pinf-to/pinf-to-process.git
[submodule ".deps/github.com~pinf-io~pinf.io-for-ubuntu~0/source/installed/master"]
	path = .deps/github.com~pinf-io~pinf.io-for-ubuntu~0/source/installed/master
	url = git@github.com:pinf-io/pinf.io-for-ubuntu.git
[submodule ".deps/github.com~pinf-io~pinf.io-for-unix~0/source/installed/master"]
	path = .deps/github.com~pinf-io~pinf.io-for-unix~0/source/installed/master
	url = git@github.com:pinf-io/pinf.io-for-unix.git
[submodule ".deps/github.com~pinf-io~io.pinf.pio.postsync~0/source/installed/master"]
	path = .deps/github.com~pinf-io~io.pinf.pio.postsync~0/source/installed/master
	url = git@github.com:pinf-io/io.pinf.pio.postsync.git
[submodule ".deps/github.com~pinf-io~io.pinf.pio.sync~0/source/installed/master"]
	path = .deps/github.com~pinf-io~io.pinf.pio.sync~0/source/installed/master
	url = git@github.com:pinf-io/io.pinf.pio.sync.git
